<h1>Add new celebrity</h1>
{{#if error}}
<div class="alert-red">
  {{error}}
</div>
{{/if}}

<form action="/celebrities/new" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
  <br>
  <label for="occupation">Occupation</label>
  <input id="occupation" type="text" name="occupation">
  <br>
  <label for="catchPhrase">CatchPhrase</label>
  <input id="catchPhrase" type="text" name="catchPhrase">
  <br>
  <select name="_movies">
    {{#each movies}}
    {{!-- req.body will be the id of the publisher --}}
    <option value="{{this._id}}">{{this.title}}</option>
    {{/each}}
  </select>
  <br>
  <button type="submit">Add celebrity</button>
</form>